body{
    padding-top: 5px;
    max-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    padding: 0 5px;
    background-color: #2B283A;
    margin: 0 auto;
}

.main{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 10px;
}

.colorPicker{
    width: 5em;
    height: 5em;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;    
}

#scheme{
    width: 15em;
    height: 2em;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

#colorBtn{
    width: 175px;
    height: 1.87em;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin: 0;
   margin: 0 auto;
}

.colorPicker,
#scheme,
#colorBtn{
    margin-bottom: 10px;
}

.container{
    text-align: center;
    width: 320px;
}

.color{
    display: flex;
    height: 5em;
    margin: 0 auto;
    color: bisque;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#displayColor{
   
    margin: 0 auto;
}